* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.spacer {
  flex-grow: 1; 
}


.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(#0b1c3a, #1f4e79);
  overflow: hidden;
  text-align: center;
  color: white;
}


.text {
  position: absolute;
  top: 80px;
  width: 100%;
}

.text h2 {
  font-size: 18px;
  font-weight: 700;
}

.text span {
  color: red;
}

.text h1 {
  font-size: 60px;
  color: #9fb3c8;
}


.cloud {
  position: absolute;
  opacity: 0.8;
}

.cloud1 {
  top: 40px;
  left: 20px;
  width: 120px;
}

.cloud2 {
  top: 120px;
  right: 30px;
  width: 150px;
}


.water {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; 
  background: rgba(30, 78, 121, 0.7); 
  z-index: 5; 
  border-radius: 50% 50% 0 0 / 15px 15px 0 0;
}


.house {
  position: absolute;
  bottom: 140px; 
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  z-index: 10; 
}

.ground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background: linear-gradient(#2e5d2e, #1f3f1f);
  z-index: 1; 
  border-radius: 50% 50% 0 0 / 20px 20px 0 0;
}


.btn {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
  background: #ddd;
  cursor: pointer;
  transition: 0.3s;
  z-index: 10;
}

.btn:hover {
  background: white;
}

.footer {
 position: absolute;
  bottom: 15px;
  width: 100%;
  z-index: 20;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  padding: 0 20px;
}

.footer img {
 height: 40px;
  margin: 5px 10px;
  max-width: 100%;
  object-fit: contain;
}


 @media (min-width: 768px) {
  .footer {
    bottom: 30px; 
    gap: 20px;    
  }

  .footer img {
    height: 65px;
    margin: 0;    
  }
}
